
<div class="top-toolbar"style="  height: 100vh; " >
    
    <button class="toolbar-button" style="margin-left: 90pc; margin-top: 1px;">
        <img src="https://www.svgrepo.com/show/499618/logout.svg" style="height: 40px; width: 40px;">
    </button>
    <div style="margin-left: 120px; margin-right: 120px;">
        <button mat-button (click)="goback()">
            <span style="font-size: 25px; padding: -5px; color: yellow;"> < BACK</span>
        </button>
    </div>
    <div style="text-align: center; font-size: 40px;margin-top: -20px;">
        <span>VOTE</span>
        <p style="color: rgb(107, 104, 104);">What's your favorite playlist?</p>
    </div>
    
    <div class="image-container" style="display: flex; justify-content: center;">
        <ng-container *ngFor="let photo of photoData; let i = index;">
          <div style="display: flex;">
            <div *ngIf="i < 2">
              <img class="image-hover" [src]="photo.photo_url" style="border-radius: 50px; width: 30pc; height: 30pc; margin-right: 100px;" (click)="canClick &&  vote(photo)">
              <p>Elo Rating: {{ photo.eloRating.toFixed(0) }}</p>
            </div>
          </div>
        </ng-container>
      
      
      
      
        <!-- <div style="text-align: center; margin-top: 20px;">
            <button class="toolbar-button-main"(click)="vote()"><img src="https://t-pop.com/images/love-hand-1.png" height="100px" alt="icon" style="width: 50px; height: 50px;"><i class="fas fa-vote-yea"></i>Score</button>
        </div>    -->
    </div>
    
    
    
    
    
    <div class="bottom-toolbar">
        <button routerLink="" class="toolbar-button-main"><img src="https://www.nicepng.com/png/full/17-178841_home-png-home-icon-free.png" style="width:40px; height: 40px;"></button>
        <button class="toolbar-button-main"><img src="https://i.pinimg.com/originals/92/25/c5/9225c5849fa25de3b2e6a32feda94d09.png" style="width: 50px;"><i class="fas fa-chart-line"></i></button>
        <button class="toolbar-button-main"><img src="https://t-pop.com/images/love-hand-1.png" height="100px" alt="icon" style="width: 50px; height: 50px;"><i class="fas fa-vote-yea"></i></button>
        <button class="toolbar-button-main"><img src="https://cdn3.iconfinder.com/data/icons/simple-files-1/128/Signal-512.png" style="width: 50px; height: 50px;"><i class="fas fa-chart-bar"></i></button>
        <button class="toolbar-button-main"> <img src="https://icon-library.com/images/person-icon-svg/person-icon-svg-2.jpg" style="width: 50px; height: 50px;"><i class="fas fa-user"></i></button>
    </div>
</div>

    